name: CI

on:
  pull_request:
  push:
    branches: main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: us-east-1
      ENV: test

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: pip install -r requirements.txt
      - run: python test_main.py

  artifact:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: us-east-1

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: make setup dist/lambda.zip
      - id: artifact
        run: |
          key=src/record-metrics/${{ github.sha }}.zip
          aws s3 cp --acl public-read dist/lambda.zip "s3://infra.restyled.io/$key"
          echo "::set-output name=key::$key"

    outputs:
      key: ${{ steps.artifact.outputs.key }}

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [test, artifact]
    runs-on: ubuntu-latest
    steps:
      - uses: restyled-io/gitops-deploy-action@main
        with:
          token: ${{ secrets.GITOPS_ACCESS_TOKEN }}
          parameter-name: FunctionSourceKey
          parameter-value: ${{ needs.artifact.outputs.key }}
          committer-name: Restyled Commits
          committer-email: commits@restyled.io
          repository: restyled-io/ops
          stacks: cg-app/stacks/*/*/mgmt/record-metrics.yaml
